"*":
  Hydrogen:
    kernelspec: '''
      {
        "kernelspecs": {
          "python2": {
            "resource_dir": "/usr/local/share/jupyter/kernels/python2",
            "spec": {
              "argv": [
                "python2",
                "-m",
                "ipykernel_launcher",
                "-f",
                "{connection_file}"
              ],

              "env": {},
              "display_name": "Python 2",
              "language": "python"
            }
          },
          "python3": {
            "resource_dir": "/usr/local/share/jupyter/kernels/python3",
            "spec": {
              "argv": [
                "python3",
                "-m",
                "ipykernel_launcher",
                "-f",
                "{connection_file}"
              ],
              "env": {},
              "display_name": "Python 3",
              "language": "python"
            }
          }
        }
      }
    '''
    startupCode: "{\"Python 3\":\"%matplotlib inline\"}"
  "atom-beautify":
    general:
      _analyticsUserId: "5aa9161c-25d4-4f7a-88e0-90f1697e8869"
  "atom-package-deps":
    ignored: [
      "linter-htmlhint"
    ]
  "autocomplete-python":
    useKite: false
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "kite"
      "qolor"
      "language-python"
      "tree-view"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "chester-atom-syntax"
    ]
  editor:
    fontFamily: "Fira Code"
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "0e068d20-e24f-47a1-a7d7-0c83a953869a"
  kite:
    showKiteTourOnStatup: false
  "markdown-preview": {}
  minimap:
    adjustAbsoluteModeHeight: true
  nuclide:
    installRecommendedPackages: true
    "nuclide-home":
      showHome: false
    "nuclide-python":
      lintOnFly: true
      pathToPython: "python3"
    "nuclide-remote-projects": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "platformio-ide-terminal":
    core:
      mapTerminalsTo: "Folder"
    style:
      fontFamily: "menlo"
      theme: "one-dark"
  term3:
    colors:
      background: "#272c35"
    titleTemplate: "Terminal ({{ hostName }})"
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  welcome:
    showOnStartup: false
  wordcount:
    alwaysOn: true
    extensions: [
      "md"
      "markdown"
      "readme"
      "txt"
      "rst"
      "adoc"
      "log"
      "msg"
      "sql"
    ]
